(edif dcmx3y0_2vp50
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 10 29 11 24 57)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.2, Build 175R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port P (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dcmx3y0_2vp50 (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port clock1_in (direction INPUT)
 )
           (port clock2_in (direction INPUT)
 )
           (port clock1_out (direction OUTPUT))
           (port clock2_out (direction OUTPUT))
         )
         (contents
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef UNILIB)))          )
          (instance BUF1_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X134Y0"))
           (property init (string "ff00"))
          )
          (instance INV1_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X134Y0"))
           (property init (string "00ff"))
          )
          (instance INV2_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X69Y1"))
           (property init (string "3333"))
          )
          (instance BUF1_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X135Y1"))
           (property init (string "f0f0"))
          )
          (instance INV1_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X135Y1"))
           (property init (string "00ff"))
          )
          (instance INV2_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X68Y0"))
           (property init (string "3333"))
          )
          (net clock1_in (joined
           (portRef clock1_in)
           (portRef I3 (instanceRef BUF1_1))
          ))
          (net clock2_in (joined
           (portRef clock2_in)
           (portRef I2 (instanceRef BUF1_2))
          ))
          (net clock1_out (joined
           (portRef clock1_out)
           (portRef O (instanceRef INV2_1))
           )
          )
          (net clock2_out (joined
           (portRef clock2_out)
           (portRef O (instanceRef INV2_2))
           )
          )
          (net (rename VCCZ0 "VCC") (joined
           (portRef I3 (instanceRef INV2_2))
           (portRef I2 (instanceRef INV2_2))
           (portRef I0 (instanceRef INV2_2))
           (portRef I2 (instanceRef INV1_2))
           (portRef I1 (instanceRef INV1_2))
           (portRef I0 (instanceRef INV1_2))
           (portRef I3 (instanceRef BUF1_2))
           (portRef I1 (instanceRef BUF1_2))
           (portRef I0 (instanceRef BUF1_2))
           (portRef I3 (instanceRef INV2_1))
           (portRef I2 (instanceRef INV2_1))
           (portRef I0 (instanceRef INV2_1))
           (portRef I2 (instanceRef INV1_1))
           (portRef I1 (instanceRef INV1_1))
           (portRef I0 (instanceRef INV1_1))
           (portRef I2 (instanceRef BUF1_1))
           (portRef I1 (instanceRef BUF1_1))
           (portRef I0 (instanceRef BUF1_1))
           (portRef P (instanceRef VCC))
           )
          )
          (net clkd1buf_1 (joined
           (portRef I3 (instanceRef INV1_1))
           (portRef O (instanceRef BUF1_1))
           )
          )
          (net clkd1inv_1 (joined
           (portRef I1 (instanceRef INV2_1))
           (portRef O (instanceRef INV1_1))
           )
           (property route (string "{2;1;-5!-1;141808;-148752;14;204;4;30;13!0;-11688;1751;42!1;-21408;-178!2;-21656;0!3;-21656;0!4;-21656;0!5;-20984;178!6;-14760;-200;2!7;-3207;-711;0!8;327;0;4;105;7;11!}"))
          )
          (net clkd1buf_2 (joined
           (portRef I3 (instanceRef INV1_2))
           (portRef O (instanceRef BUF1_2))
           )
          )
          (net clkd1inv_2 (joined
           (portRef I1 (instanceRef INV2_2))
           (portRef O (instanceRef INV1_2))
           )
           (property route (string "{2;1;-5!-1;141968;-147720;14;204;7;30;13!0;-11848;-1857;42!1;-21456;250!2;-21656;0!3;-21656;0!4;-21656;0!5;-20936;-138!6;-14760;152;2!7;-3160;734;0!8;120;-365;4;105;4;11!}"))
          )
         )
        (property KEEP_HIERARCHY (string "TRUE"))
       )
    )
  )
  (design dcmx3y0_2vp50 (cellRef dcmx3y0_2vp50 (libraryRef work))
	(property PART (string "xc2vp50ff1152-5") (owner "Xilinx")))
)
